.creative-bakery {
  padding-block: 32px;

  @include contentPaddingInLineForDevices;

  @include onTablet {
    padding-block: 80px 228px;
    margin-bottom: 0;

    @include pageGrid;

    position: relative;
  }

  @include onSmallDescktop {
    padding-block: 0 66px;
    margin-bottom: 152px;
  }

  &__fantasies {
    margin-bottom: 32px;

    text-align: center;

    @include onTablet {
      width: 280px;
      margin-bottom: 16px;

      grid-column: span 5;

      text-align: left;
    }

    @include onSmallDescktop {
      margin-top: 135px;
      grid-column: span 2;
    }
  }

  &__title {
    color: $title-color;
    text-align: center;

    @include onTablet {
      position: absolute;

      top: 33%;
      left: 0;
      right: 0;
    }

    @include onSmallDescktop {
      top: 31.5%;
    }
  }

  &__img {
    display: flex;
    background-color: transparent;
    width: 100%;

    @include onTablet {
      margin-bottom: 80px;

      grid-column: 3 / -3;
    }

    @include onSmallDescktop {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    text-decoration: none;

    border: 2px solid $title-color;
    border-radius: 32px;

    @include onTablet {
      grid-column: 3 / -3;
    }

    @include onSmallDescktop {
      position: absolute;
      bottom: 161px;

      grid-column: 1 / 3;
    }
  }
}
