.page {
  scroll-behavior: smooth;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.16px;
  text-decoration: none;
  color: $main-text-color;

  &__body {
    margin: 0;

    font-family: "Inter", sans-serif;
    background-color: #ffeefc;
  }

  &__body * {
    margin: 0;
    padding: 0;

    transition: all 0.3s;
    box-sizing: border-box;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
